html {
    font-family: "Fira Sans", sans-serif;
    font-size: 20px;
    letter-spacing: 0.8px;
    min-height: 100vh;
    color: #d8e9ef;
    background-image: linear-gradient(-30deg, #3A6D8C 0%, #001F3F 100%);
    background-size: cover;
}

h1 {
    margin: 10px auto 20px auto;
    color: #d8e9ef;
}

.app-message {
    height: 20px;
    margin: 10px auto 20px auto;
    font-size: 22px;
}

.app-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    width: 250px;
    height: 620px;
    margin: 40px auto;
    text-align: center;
    border-radius: 5px;
    padding: 20px;
}

.app-circle {
    position: relative;
    margin: 0 auto;
    width: 200px;
    height: 200px;
}
  
.circle-shape {
    pointer-events: none;
}

.semi-circle {
    position: absolute;
    width: 100px;
    height: 200px;
    box-sizing: border-box;
    border: solid 6px;
}
  
.left-side {
    top: 0;
    left: 0;
    transform-origin: right center;
    transform: rotate(0deg);
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
    border-right: none;
    z-index: 1;
}
  
.right-side {
    top: 0;
    left: 100px;
    transform-origin: left center;
    transform: rotate(0deg);
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    border-left: none;
}

.circle {
    border-color: #6A9AB0;
}
  
.circle-mask {
   border-color: #EAD8B1;
}

.counter-box {
    font-family: 'Droid Sans Mono', monospace;
    font-size: 250%;
    position: relative;
    color: #d8e9ef;
    top: 15px;
}
  
button {
    position: relative;
    font-size: 80%;
    text-transform: uppercase;
    letter-spacing: 1px;
    border: none;
    background: none;
    outline: none;
    color: #d8e9ef;
    top: -20px;
}
  
button:hover {
    color: #90c0d1;
}